.profile-etibarnameler-table{
    margin-top: 5%;
}
.beyan-span{
    /* position: absolute; */
    left: 0;
    bottom: -10px;
    width: 200px;
    height: 2px;
    background-color: #f8c011;
    transition: 0.2s;
}
#beyan{
    font-weight: 600;
}