.profile-yeni-muraciet{
    margin: 40px 0 34px;
    display: flex;
    justify-content: flex-end;
  }
  
  .profile-yeni-muraciet div button{
    width: 138px;
    height: 32px;
    background: #F8C011;
    border-radius: 2px;
    border-color: transparent;
    outline: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 0 !important;
    cursor: pointer;
  }
  